<main>
    <div class="single-user-container">
        <div class="single-user">
            <div class="user-image">
                <img src="<%= @user.photo%>" alt="profile" class="user-profile">
            </div>
            <div class="user-information">
                <h2 class="user-name"><%= @user.name%></h2>
                <span class="post-counter"><p class="count">Number of posts: <%= @user.posts.count %></p></span>
            </div>
        </div>
        <div class="user-bio">
            <h4 class="bio">Bio</h4>
            <p class="bio-paragraph">
                <%= @user.bio %>
            </p>
        </div>
        <div class="user-all-posts">
            <% @user.three_most_recent_posts.each do |post|%>
            <a href="<%= user_post_path(@user, post)%>" class="user-link">
            <div class="user-post">
                <h4 class="post"><%= post.title%></h4>
                <div class="post-content">
                    <p class="post-paragraph">
                        <%= post.text %>
                    </p>
                    <span class="posts-count"><p class="count">Comments: <%=post.comments_counter%>, Likes: <%=post.likes_counter%></p></span>
                </div>
            </div>
            </a>
            <%end%>
        </div>
        <div class="create_post">
        <%= link_to 'create new post', new_user_post_path(@user), class: "new-post" %>
        </div>
        <div class="see-all">
            <button id="all" class="all"><%= link_to 'see all posts', user_posts_path(@user) %></button>
        </div>
    </div>
</main>