<main>
    <div class="posts-main-container">
        <div class="single-user">
            <div class="user-image">
                <img src="<%= @user.photo %>" alt="profile" class="user-profile">
            </div>
            <div class="user-information">
                <h2 class="user-name"><%= @user.name %></h2>
                <span class="post-counter"><p class="count">Number of posts: <%= @user.posts.count %></p></span>
            </div>
        </div>
        <div class="user-all-posts">
            <% @posts.each_with_index do |post, index| %>
                <div class="user-post">
                    <h4 class="post">Post #<%= index+1 %></h4>
                    <div class="post-content">
                        <p class="post-paragraph">
                            <%= post.text %>
                        </p>
                        <span class="posts-count"><p class="count">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p></span>
                    </div>
                </div>
                <% if post.comments.any? %>
                <div class="posts-comment">
                    <% post.five_most_recent_comments.each do |comment| %>
                        <p class="comments"><%= comment.author.name %> : <%= comment.text %></p>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="link_to_single_post">
        <%= link_to 'see more', user_post_path(@user, post), class: 'link' %>
        </div>
        <% end %>
    </div>
</main>
