<main>
    <div class="single-post-container">
        <div class="post-header">
            <div class="post-by-author">
            <p class="post-author"><%= @post.title%> by <%= @user.name%></p>
            <span class="comments-likes-counter">
                <p class="counter">Comments: <%=@post.comments_counter%>, Likes: <%= @post.likes_counter%></p></span>
            </div>
        <div class="post-paragraph">
            <%=@post.text%>
            </div>
            </div>
             <% if @post.comments.any? %>
            <div class="posts-comment">
                    <% @post.comments.each do |comment| %>
                        <p class="comments"><%= comment.author.name %> : <%= comment.text %></p>
                         <% if can? :destroy, comment %>
    <%= button_to 'Delete Comment', user_post_comment_path(@user, @post, comment ), method: :delete %>
  <% end %>
                    <% end %>
                </div>
                <% end%>
                <div class="add-like-comment">
                 <%= link_to 'Add a comment', new_user_post_comment_path(@post.author.id, @post.id), class: "btn" %>
                <%= form_with(url: user_post_likes_path(@post.author, @post)) do |form| %>
                <%= form.submit 'Like' %>
                <% end %>
            </div>
    </div>
   <% if can? :destroy, @post %>
  <%= button_to 'Delete', user_post_path(@user, @post), method: :delete %>
<% end %>
</main>